body
{
    background: #ffffff;
    font-family: Arial, Helvetica;
}
a {
    color: #800080;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.bannercolumn
{
   width:97%;
   max-width: 900px;
   margin: 0 auto;
   text-align: left;
   border-radius:3px;
   overflow:hidden;
   background-color: #d4d4d4;
}
.centralcolumn
{
   color:Black;
   background-color: #ffffff;
   width:97%;
   max-width: 900px;
   margin: 0 auto;
   border-radius:3px;
}
.centralcolumninner
{
   color:Black;	
   width:98%;
   max-width: 900px;
   margin: 10px auto;   
   overflow:hidden;
}
.frontpagebubble
{
    background-color:#edf3f5;
    padding: 10px;
    border-radius: 10px;
    width:55%;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
}
.frontpagebubble li 
{
   list-style-type: none;
   padding: 3px 0px;
   font-size: 0.95em;
   font-weight: bold;
}
.articlebodyouter
{
   width:97%;
   max-width: 1200px;
   margin: 10px auto;
   max-width: 900px
   
}
.articlebodyinner
{
   padding: 0px 0px;
   border-radius:3px;
   background-color:#ffffff;
   font-family: 'Times New Roman', Times, serif;
   font-size: larger;
}
.code
{
   line-height: 1em;
   display: block;
   font-family: monospace;
   white-space: pre;
   margin: 1em 0px;
   border: 1px dotted black;
}
.topictitle
{
   text-align: center;
   padding-bottom: 10px;
}

/* Style overrides for narrow screens. */
@media screen and (max-width: 680px) 
{
    html, body 
    {
        padding: 1px;
        margin: 0px;
    }
    .bannercolumn
    {
       width:100%;
    }
    .centralcolumn
    {
       color:Black;
       background-color: #ffffff;
       width:100%;
       max-width: 1200px;
       margin: 0 auto;
       border-radius:3px;
    }
    .centralcolumninner
    {
       color:Black;	
       width:100%;
       margin: 10px auto;   
       overflow:hidden;
    }
    .frontpagebubble
    {
        padding: 8px;
        width:95%;
    }
    .articlebodyouter
    {
       width:100%;
       max-width: 1200px;
       margin: 2px 0px;
    }
    .articlebodyinner
    {
       padding: 0px 13px;
       border-radius:3px;
       background-color:#ffffff;
    }  
}
